@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/barlow-condensed-v1-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Barlow Condensed Regular'), local('BarlowCondensed-Regular'), url('assets/fonts/barlow-condensed-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/barlow-condensed-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/barlow-condensed-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('assets/fonts/barlow-condensed-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/barlow-condensed-v1-latin-regular.svg#BarlowCondensed') format('svg');
  /* Legacy iOS */
}

/* barlow-condensed-500 - latin */

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/barlow-condensed-v1-latin-500.eot');
  /* IE9 Compat Modes */
  src: local('Barlow Condensed Medium'), local('BarlowCondensed-Medium'), url('assets/fonts/barlow-condensed-v1-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/barlow-condensed-v1-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/barlow-condensed-v1-latin-500.woff') format('woff'), /* Modern Browsers */
  url('assets/fonts/barlow-condensed-v1-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/barlow-condensed-v1-latin-500.svg#BarlowCondensed') format('svg');
  /* Legacy iOS */
}

/* barlow-condensed-700 - latin */

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/barlow-condensed-v1-latin-700.eot');
  /* IE9 Compat Modes */
  src: local('Barlow Condensed Bold'), local('BarlowCondensed-Bold'), url('assets/fonts/barlow-condensed-v1-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/barlow-condensed-v1-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/barlow-condensed-v1-latin-700.woff') format('woff'), /* Modern Browsers */
  url('assets/fonts/barlow-condensed-v1-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/barlow-condensed-v1-latin-700.svg#BarlowCondensed') format('svg');
  /* Legacy iOS */
}

html, body {
  background: #fafafa;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

#page-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/header_main.jpg) no-repeat;
  background-size: auto 50%;
  background-position-y: 0;
  background-position-x: center;
}

@media (min-width: 375px) {
  #page-wrap {
    background-size: auto 75%;
  }
}

@media (min-width: 992px) {
  #page-wrap {
    background: url('../img/header_main.jpg') no-repeat center center;
  }
}

.bottom-bow {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.bow-wrap {
  width: 102%;
}

.bow-wrap img {
  margin-bottom: -1px;
}

.center-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background: #fafafa;
}

.text-center a {
  color: #c19a5a;
  border: 1px solid #c19a5a;
  background-color: transparent;
  padding: 7px 12px;
  margin: 0 auto;
  display: inline-block;
  text-decoration: none;
}

.logo-wrap {
  background: #fafafa;
  padding-top: 2rem;
  right: 3%;
  top: 15%;
  margin-bottom: -1px;
}

@media (min-width: 992px) {
  .logo-wrap {
    background: transparent;
    position: absolute;
  }
}

.logo-wrap img {
  margin: 0 auto;
  display: block;
  left: 0;
  right: 0;
  height: 150px;
}

@media (min-width: 992px) {
  .logo-wrap img {
    height: 200px;
  }
}